In [ ]:
# Ethan Blume
# 1/26/2024
# Data Structures are ways data is stored so that it can be easily found and accessed.
# Mutable means it can be changed, wherears immutable means it can't. Numbers are an example of something Mutable, names would be immutable.

In [ ]:
list= [3,6,2,4,5]
print(list)
print(list[2])
print(len(list))
print(sum(list[0]*[2]))

[3, 6, 2, 4, 5]
2
5
6

In [ ]:
list=["play", "walk", "lollygag", "joke", "laugh", "cry", "sing", "dance", "move", "write"]
print(list[9].capitalize(), list[8], list[7], list[6], list[5], list[4], list[3], list[2], list[1], list[0], end=".")

Write move dance sing cry laugh joke lollygag walk play.

In [ ]:
list=[10.3, 99.5343, 32.5, 885.91209, 6.1, 334.2, 90.875, 5601.9, 9.0000002, 1.2]
tot=list[0]+list[1]+list[2]+list[3]+list[4]+list[5]+list[6]+list[7]+list[8]+list[9]
print('The total of all numbers in the list is' ,tot, end=".")

The total of all numbers in the list is 7071.521390199999.

In [ ]:
list=["Volkswagen", "Jetta", "2011", "Grey", "30000", "True"]
print(list[0], list[1] + "\n" + list[2] + "\n" + list[3] + "\n" + list[4] + "\n" + list[5])

Volkswagen Jetta
2011
Grey
$30000
True

In [ ]:
diction={
    "Make":"Volkswagen",
         "Model":"Jetta",
         "Year":"2011",
         "Color":"Grey",
         "Price":"30000",
         "Available":"True"
         }
print("Make: " +diction['Make']+ "\nModel: " +diction['Model']+ "\nYear: " +diction['Year']+ "\nColor: "+ diction['Color']+ "\nPrice: "+ diction['Price']+ "\nAvailable: "+ diction['Available'])

Make: Volkswagen
Model: Jetta
Year: 2011
Color: Grey
Price: 30000
Available: True